.list {
    display: grid;
    text-align: center;
    grid-template-columns: repeat( auto-fill, minmax(145px, 1fr) );
    grid-gap: 10px;
    width: 100%;
}

/*Media*/

@media (min-width: 320px) {
}

@media (min-width: 630px) {
    .list {
        grid-template-columns: repeat( auto-fill, minmax(180px, 1fr) );
    }
}

@media (min-width: 768px) {
    .list {
        grid-template-columns: repeat( auto-fill, minmax(315px, 1fr) );
        grid-column-gap: 30px;
        grid-row-gap: 20px
    }
}

@media (min-width: 1280px) {
    .list {
        grid-template-columns: repeat( auto-fill, minmax(336px, 1fr) );
        grid-gap: 30px;
    }
}

@media (min-width: 1600px) {
    .list {
        grid-template-columns: repeat( auto-fill, minmax(429px, 1fr) );
        grid-column-gap: 50px;
        grid-row-gap: 40px
    }
}

@media (min-width: 1920px) {
    .list {
        grid-template-columns: repeat( auto-fill, minmax(456px, 1fr) );
        grid-column-gap: 70px;
        grid-row-gap: 50px
    }
}