.item > div:first-child {
    line-height: 0;
}

.item > div:first-child img {
    object-fit: cover;
    height: 145px;
    border-radius: 15px;
    overflow: hidden;
}
.item span{
    border-radius: 15px;
}
.item > div:first-child {
    border-radius: 15px;
    overflow: hidden;
}

.item > p {
    font-size: 12px;
    line-height: 13px;
    font-family: Montserrat-Medium, sans-serif;
    margin: 0 auto;
}

.item > div:first-child img,
.item > div:last-child {
    width: 145px;
}

.item > div:first-child img {
    transition: transform ease-in 150ms;
}

/*Animation*/
.item > div:first-child img:hover {
    transform: scale(1.03);
}

/*Media*/

@media (min-width: 320px) {
}

@media (min-width: 630px) {
    .item > div:first-child img,
    .item > div:last-child {
        width: 180px !important;
    }

    .item > div:first-child img {
        height: 180px !important;
    }
}

@media (min-width: 768px) {
    .item > div:first-child img {
        height: 315px !important;
        border-radius: 30px;
    }

    .item > div:first-child,
    .item span {
        border-radius: 30px;
    }

    .item > p {
        font-size: 20px;
        line-height: 22px;
        margin: 5px auto;
    }

    .item > div:first-child img,
    .item > div:last-child {
        width: 315px !important;
    }
}

@media (min-width: 1280px) {
    .item > div:first-child img {
        height: 336px;
        border-radius: 50px;
    }
    .item span,
    .item > div:first-child {
        border-radius: 50px;
    }

    .item > p {
        font-size: 24px;
        line-height: 26px;
        margin: 10px auto;
    }

    .item > div:first-child img,
    .item > div:last-child {
        width: 336px !important;
    }
}

@media (min-width: 1600px) {
    .item > div:first-child img {
        height: 429px !important;
    }

    .item > p {
        font-size: 28px;
        line-height: 31px;
        margin: 15px auto;
    }

    .item > div:first-child img,
    .item > div:last-child {
        width: 429px !important;
    }
}

@media (min-width: 1920px) {
    .item > div:first-child img {
        height: 456px !important;
    }

    .item > div:first-child img,
    .item > div:last-child {
        width: 456px !important;
    }
}