.swiperExamplesWork .swiper-wrapper {
    line-height: 0;
    margin-left: 10px;
}

.swiperExamplesWork .swiper-slide > div > div {
    display: block !important;
}

.swiperExamplesWork .swiper-slide > div {
    margin-right: 20px;
}

.swiperExamplesWork .swiper-slide img {
    width: 100% !important;
    height: auto !important;
    object-fit: cover;
}

.swiperExamplesWork .ant-image-mask-info {
    display: none;
}

.swiperExamplesWork .swiper-button-next,
.swiperExamplesWork .swiper-button-prev {
    width: 8%;
    height: 100%;
    top: 0;
    position: absolute;
    z-index: 10;
    display: flex;
}

.swiperExamplesWork .swiper-button-next,
.swiperExamplesWork .swiper-button-prev {
    display: none;
}

.swiperExamplesWork .swiper-button-prev {
    left: 0;
    cursor: url("../../src/assets/images/main/sectionSecond/arrow left.svg"), pointer;
}

.swiperExamplesWork .swiper-button-next {
    right: 0;
    cursor: url("../../src/assets/images/main/sectionSecond/arrow right.svg"), pointer;
}

/*Media*/

@media (min-width: 320px) {
}

@media (min-width: 768px) {
    .swiperExamplesWork .swiper-wrapper {
        margin-left: calc(52vw - 10px);
    }

    .swiperExamplesWork .swiper-slide > div {
        margin-right: 100px;
    }
}

@media (min-width: 780px) {
    .swiperExamplesWork .swiper-wrapper {
        margin-left: calc(52vw - 12px);
    }
}

@media (min-width: 860px) {
    .swiperExamplesWork .swiper-wrapper {
        margin-left: calc(52vw - 14px);
    }
}

@media (min-width: 940px) {
    .swiperExamplesWork .swiper-wrapper {
        margin-left: calc(52vw - 16px);
    }
}

@media (min-width: 1040px) {
    .swiperExamplesWork .swiper-wrapper {
        margin-left: calc(52vw - 18px);
    }
}

@media (min-width: 1140px) {
    .swiperExamplesWork .swiper-wrapper {
        margin-left: calc(52vw - 20px);
    }
}

@media (min-width: 1240px) {
    .swiperExamplesWork .swiper-wrapper {
        margin-left: calc(52vw - 22px);
    }
}

@media (min-width: 1280px) {
    .swiperExamplesWork .swiper-wrapper {
        margin-left: calc(38vw - 18px);
    }

    .swiperExamplesWork .swiper-slide > div {
        margin-right: 200px;
    }

    .swiperExamplesWork .swiper-button-next,
    .swiperExamplesWork .swiper-button-prev {
        display: block;
    }

}

@media (min-width: 1340px) {
    .swiperExamplesWork .swiper-wrapper {
        margin-left: calc(38vw - 21px);
    }
}

@media (min-width: 1380px) {
    .swiperExamplesWork .swiper-wrapper {
        margin-left: calc(38vw - 23px);
    }
}

@media (min-width: 1440px) {
    .swiperExamplesWork .swiper-wrapper {
        margin-left: calc(38vw - 25px);
    }
}

@media (min-width: 1480px) {
    .swiperExamplesWork .swiper-wrapper {
        margin-left: calc(38vw - 29px);
    }
}

@media (min-width: 1540px) {
    .swiperExamplesWork .swiper-wrapper {
        margin-left: calc(38vw - 31px);
    }
}

@media (min-width: 1580px) {
    .swiperExamplesWork .swiper-wrapper {
        margin-left: calc(38vw - 33px);
    }
}

@media (min-width: 1600px) {
    .swiperExamplesWork .swiper-wrapper {
        margin-left: calc(29vw - 8px);
    }

}

@media (min-width: 1680px) {
    .swiperExamplesWork .swiper-wrapper {
        margin-left: calc(29vw - 11px);
    }
}

@media (min-width: 1710px) {
    .swiperExamplesWork .swiper-wrapper {
        margin-left: calc(29vw - 13px);
    }
}

@media (min-width: 1740px) {
    .swiperExamplesWork .swiper-wrapper {
        margin-left: calc(29vw - 15px);
    }
}

@media (min-width: 1780px) {
    .swiperExamplesWork .swiper-wrapper {
        margin-left: calc(29vw - 17px);
    }
}

@media (min-width: 1840px) {
    .swiperExamplesWork .swiper-wrapper {
        margin-left: calc(29vw - 19px);
    }
}

@media (min-width: 1920px) {
    .swiperExamplesWork .swiper-wrapper {
        margin-left: calc(31vw - 10px);
    }

    .swiperExamplesWork .swiper-slide > div {
        margin-right: 400px;
    }

    .swiperExamplesWork .swiper-button-next,
    .swiperExamplesWork .swiper-button-prev {
        width: 10%;
    }
}

@media (min-width: 1980px) {
    .swiperExamplesWork .swiper-wrapper {
        margin-left: calc(31vw - 14px);
    }
}

@media (min-width: 2060px) {
    .swiperExamplesWork .swiper-wrapper {
        margin-left: calc(31vw - 18px);
    }
}

@media (min-width: 2120px) {
    .swiperExamplesWork .swiper-wrapper {
        margin-left: calc(31vw - 22px);
    }
}

@media (min-width: 2180px) {
    .swiperExamplesWork .swiper-wrapper {
        margin-left: calc(31vw - 26px);
    }
}

@media (min-width: 2260px) {
    .swiperExamplesWork .swiper-wrapper {
        margin-left: calc(31vw - 32px);
    }
}