.colorBCG {
    background-color: #2C2C38;
}

.nav {
    background-color: #2C2C38;
    height: 40px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
}

.wrapperMenu li:nth-child(1),
.wrapperMenu li:nth-child(2) {
    position: relative;
}

.wrapperMenu li:nth-child(1) ul + div,
.wrapperMenu li:nth-child(2) ul + div {
    display: none;
}

.col3 {
    display: grid;
    grid-template-areas: "logo wrapperMenu phone burgMenu";
    grid-template-columns: auto repeat(3, max-content);
    align-items: center;
    height: 100%;
}

.list li {
    list-style-type: none;
    color: #ffffff;
}

.logo img {
    width: 47px !important;
    height: 27px !important;
}

.list .logo {
    grid-area: logo;
    line-height: 0;
}

.list > div:first-child {
    grid-area: wrapperMenu;
}

.list .phoneWrapper {
    grid-area: phone;
}

.list div.wrapperMenu li:not(:last-child) {
    margin-right: 20px;
    font-size: 16px;
    line-height: 20px;
}

.list .phoneWrapper {
    margin-right: 20px;
}

.phone {
    font-size: 10px !important;
    line-height: 11px !important;
    font-family: Montserrat-Light, sans-serif;
    position: relative !important;
    z-index: 1 !important;
}

.list li:not(li.logo) p {
    font-family: Montserrat-Light, sans-serif;
}

.wrapperMenu li:not(:last-child) {
    margin-bottom: 32px;
}

.wrapperMenu .menu {
    margin: 35px 0 35px 35px;
}

.burgMenu {
    grid-area: burgMenu;
    line-height: 0;
    position: relative;
}

.burgMenu:before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    right: 0;
    left: 50%;
    bottom: 0;
    padding: 20px 25px;
}

.burgMenu .active,
.burgMenu .cross {
    width: 20px;
    height: 12px;
    position: relative;
    cursor: pointer;
}

.burgMenu .cross:before,
.burgMenu .cross:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #FFFFFF;
}

.wrapperMenu li p {
    cursor: pointer;
    transition: transform ease-in 150ms;
}

/*Animation*/
.wrapperMenu li p:hover {
    transform: scale(1.04);
}

.burgMenu .cross:before {
    top: 10%;
    transition: transform 150ms, top 150ms 150ms;
}

.burgMenu .cross:after {
    bottom: 10%;
    transition: transform 150ms, bottom 150ms 150ms;
}

.list.active .burgMenu .cross:before {
    transition: top 150ms, transform 150ms 150ms;
    top: 50%;
    transform: translateY(-50%) rotateZ(-45deg);
}

.list.active .burgMenu .cross:after {
    transition: bottom 200ms, transform 150ms 150ms;
    bottom: 50%;
    transform: translateY(50%) rotateZ(45deg);
}

.wrapperMenu {
    position: absolute;
    grid-area: wrapperMenu;
    background: #2C2C38;
    right: 0;
    top: 40px;
    width: 320px;
    z-index: -1;
    transform: translateY(-100%);
    transition: transform 200ms;
}

.list.active .wrapperMenu {
    transition: transform 200ms;
    transform: translateY(0%);
}

/*Media*/

@media (min-width: 320px) {
    .nav {
        height: 40px;
    }
}

@media (min-width: 320px) and (min-height: 320px) and (max-height: 474px) {
    .wrapperMenu .menu {
        margin: 25px 0 25px 30px;
    }

    .wrapperMenu li:not(:last-child) {
        margin-bottom: 20px;
    }
}

@media (min-width: 320px) and (min-height: 375px) and (max-height: 419px) {
    .wrapperMenu .menu {
        margin: 30px 0 30px 35px;
    }

    .wrapperMenu li:not(:last-child) {
        margin-bottom: 28px;
    }
}

@media (min-width: 768px) {
    .wrapperMenu {
        top: 60px;
    }

    .wrapperMenu li:not(:last-child) {
        margin-bottom: 40px;
    }

    .wrapperMenu .menu {
        margin: 40px 0 40px 40px;
    }

    .burgMenu .cross {
        width: 24px;
        height: 16px;
    }

    .phone {
        padding: 9px 10px !important;
        font-size: 14px !important;
        line-height: 16px !important;
    }

    .logo img {
        width: 77px !important;
        height: 43px !important;
    }

    .nav {
        height: 60px;
    }

    .list .phoneWrapper {
        margin-right: 30px;
    }
}

@media (min-width: 768px) and (max-height: 420px) {
    .wrapperMenu .menu {
        margin: 25px 0 25px 30px;
    }

    .wrapperMenu li:not(:last-child) {
        margin-bottom: 25px;
    }
}

@media (min-width: 1280px) {
    .wrapperMenu {
        display: flex;
        position: relative;
        right: 0;
        top: 0;
        width: initial;
        transform: translateY(0);
        z-index: 0;
    }

    .wrapperMenu .menu {
        margin: 0;
        display: flex;
    }

    .wrapperMenu li:nth-child(1) ul + div,
    .wrapperMenu li:nth-child(2) ul + div {
        display: flex;
    }

    .wrapperMenu li:nth-child(1) ul + div > span,
    .wrapperMenu li:nth-child(2) ul + div > span {
        margin-left: 6px !important;
        height: fit-content !important;
        align-self: flex-end;
        margin-bottom: 5px !important;
    }

    .wrapperMenu li:not(:last-child) {
        margin-bottom: 0;
    }

    .col3 {
        grid-template-areas: "logo wrapperMenu phone";
        grid-template-columns: 1fr max-content 1fr;
    }

    .nav ul ul {
        list-style-type: none;
        display: none;
        position: absolute;
        top: 100%;
        background-color: #2C2C38;
        width: 218px;
        left: -15px;
    }

    .wrapperMenu li:nth-child(1) ul li,
    .wrapperMenu li:nth-child(2) ul li {
        margin-left: 15px;
        margin-right: 15px !important;
        margin-bottom: 20px;
    }

    .wrapperMenu li:nth-child(1) ul li:first-child,
    .wrapperMenu li:nth-child(2) ul li:first-child {
        margin-top: 20px;
    }

    .wrapperMenu li:nth-child(1):hover ul,
    .wrapperMenu li:nth-child(2):hover ul {
        display: inherit;
    }

    .burgMenu {
        display: none;
    }

    .list .phoneWrapper {
        margin-right: 0;
        display: flex;
        justify-content: flex-end;
    }
}

@media (min-width: 1600px) {
    .list div.wrapperMenu li:not(:last-child) {
        margin-right: 45px;
    }
}

@media (min-width: 1920px) {
}